* {margin: 0; padding: 0;}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

header {
  height: 50px;
  line-height: 50px;
  background: #0d5aa7;
  color: #FFF;
  position: relative;
}

.hide {
  display: none;
}

header h1 {
  font-size: 24px;
  margin-left: 20px;
}

header button {
  background: none;
  font-size: 18px;
  color: #FFF;
  position: absolute;
  right: 20px;
  top: 5px;
  height: 40px;
  width: 150px;
}

div#movieList {
  width: 100vw;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, auto);
}

div.card {
  /*width: 300px;*/
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

div.card span {
  position: absolute;
  bottom: 0;
  display: block;
  color: #FFF;
  width: 100%;
  background: rgba(0,0,0,.2);
  text-align: center;
  font-size: 20px;
}

div#movieInfo div {
  width: calc(100vw - 400px);
  height: 100%;
  margin: 10px 0;
  float: left;
}
div#movieInfo div span.name {
  font-weight: bold;
  width: 100px;
  float: left;
}
div#movieInfo div span.value span {
  display: block;
}

div#images {
  height: 100%;
  min-height: 100vh;
  width: 400px;
  float: left;
}
div#images img{
  width: 400px;
}
.clear {
  clear: both;
}
div#images .thumb {
  width: 40px;
  height: 40px;
  background-size: cover;
  float: left;
  margin: 10px;
}
